body{
	margin: 0;
	border: 0;

}

#logo {
  width:50px;
  left: 20%;
  top: 50px;
  position: absolute;
 }
 #resume{
 	position: absolute;
 	overflow: visible;
	white-space: wrap;
	right: 20%;
	top: 70px;
	text-align: right;
	font-family: Muli;
	padding: 30px 
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(35,35,35,1);
	
	

}
#dpp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-top: 200px;
  
  margin-bottom: 60px;
  
 } 
#I_craft_innovative__user_centr {
	
	overflow: visible;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	margin-right: auto;
	margin-left: auto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	max-width: 60%;
	color: rgba(35,35,35,1);
}

#Hi__I_m_Priyanshu__a_digital_p {
	overflow: visible;
    padding-bottom: 100px;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	max-width: 60%;
	margin-right: auto;
	margin-left: auto;
	color: rgba(35,35,35,1);

}
#projects{
	
	overflow: visible;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	padding: 30px 
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(35,35,35,1);
}
#hirexl {
  display: block;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
 } 


#inspire {
	
  display: block;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
 }
#line {
  display: block;
  width: 60%;
  height: 1px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
 }  
 #tech {
  display: block;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
 } #silver {
  display: block;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
 } #reflux {
  display: block;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  
 } 
 #Get_in_touch{
	
	overflow: visible;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	padding-bottom: 10px; 
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(35,35,35,1);
}
#I_am_entrepreneurial__iterativ{
	overflow: visible;
	padding:10px;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: rgba(35,35,35,1);
}

#designed{
	overflow: visible;
	padding:20px;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(35,35,35,1);
}
#cont{
	overflow: visible;
	padding:10px;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(35,35,35,1);
}
.horizontal-flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  margin: 5px;
}
	
img {
  padding: 5px;
  width: 40px;
}

@media (max-width: 450px) {

#hirexl {
  display: block;
  width: 100%;
  margin-top: 20px;
  
 } 
 #tech {
  display: block;
  width: 100%;
  
 } #reflux {
  display: block;
  width: 100%;
 }
  #inspire {
  	
  display: block;
  width: 100%;
 } 
 #silver {
  display: block;
  width: 100%;
 } 
#I_craft_innovative__user_centr {
	overflow: visible;
    padding-bottom: 10px;
	white-space: wrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: rgba(35,35,35,1);

}
#Get_in_touch{
	
	overflow: visible;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(35,35,35,1);
}
#Hi__I_m_Priyanshu__a_digital_p {
	overflow: visible;
    padding-bottom: 80px;
	white-space: wrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: rgba(35,35,35,1);

}
#projects{
	
	overflow: visible;
	white-space: wrap;
	text-align: center;
	font-family: Muli;
	padding: 30px 
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(35,35,35,1);
}
#line {
  display: block;
  width: 100%;
  height: 1px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
 }

 #I_am_entrepreneurial__iterativ{
	overflow: visible;
    padding-bottom: 20px;
	white-space: wrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	max-width: 100%;
	color: rgba(35,35,35,1);

}
#cont{
	overflow: visible;
    padding-bottom: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: rgba(35,35,35,1);

}
#logo {
  width:50px;
  left: 8%;
  top: 50px;
  position: absolute;
 }
 #resume{
 	position: absolute;
 	overflow: visible;
	white-space: wrap;
	right: 8%;
	top: 70px;
	text-align: right;
	font-family: Muli;
	padding: 30px 
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(35,35,35,1);
	
	

}

}